.chatbot-wrapper {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 9999;
}

.chatbot-toggle-btn {
  background-color: #5c3d2e;
  color: white;
  border: none;
  padding: 0.8rem;
  width: 120%;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.chatbot-toggle-btn:hover {
  transform: scale(1.1);
}

.chatbot-box {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  width: 320px;
  max-height: 500px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
